@use 'src/colors.scss' as colors;

.brewery-list {
  border: 2px;
  border-style: solid;
  border-color: colors.$color3;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;
}
