@use 'src/colors.scss' as colors;

.App {
  text-align: center;
}

.App-header {
  height: 10vh;
  width: 100vw;
  background-color: colors.$color5;
}

.App-body {
  background-color: colors.$color2;
  min-height: 90vh;
  height: 100%;
  width: 100vw;
}
